
html {

  @include ScreenResponsive(Phone) {
    font-size: 50% ;
  }

  @include ScreenResponsive(Small_Screen) {
    font-size: 50% ;
  }

  @include ScreenResponsive(Medium_Screen) {
    font-size: 56.25%;
  }

  @include ScreenResponsive(Large_Screen) {
    font-size: 62.5%;
  }
}

body {
  font-family: lato , sans-serif ;
  color: $GrayColor ;
  font-size: 1.6rem ;
}

a {
  text-decoration: none;
}

h1,h2,h3,
h4,h5,h6 {
  margin : 0 ;
}